.header_box2 {
  display: flex;
  align-items: center;
  min-width: 100%;
  margin-block: 50px;
  justify-content: space-between;

  span {
    background-color: lightpink;
    min-height: 2px;
    min-width: 30%;
  }
}
.vanilla_card_box {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .projektcard {
    width: 25%;
    img {
      width: 100%;
    }
    li {
      color: #fff;
    }
  }
  .button_box {
    display: flex;
    justify-content: space-between;
  }
}
