header {
  background-color: rgba(0, 0, 0, 0.5);
  padding-inline: 50px;
  margin-block: 20px;
  margin-inline: auto;
  max-width: 90%;
  border-block: 1px solid #ffb6c1;

  .navbar_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo_name_box {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        max-width: 90px;
        padding: 2px;
        border-radius: 25%;
      }
    }
    ul {
      display: flex;
      gap: 25px;
    }
    li {
      transition: transform 0.8s ease-in-out;
    }

    li:hover {
      transform: scale(1.2);
    }
    h2 {
      transition: all 0.8s ease-in-out;
    }
    h2:hover {
      color: lightpink;
    }
  }
}
