.button {
  h2 {
    transition: all 0.8s ease-in-out;
  }
  h2:hover {
    color: lightpink;
  }
}
.home_welcome_box {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  .welcome_text_box {
    display: flex;
    max-width: 45%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    span {
      color: lightpink;
    }
    button {
      margin-block: 5%;
      margin-left: auto;
    }
  }

  .selfie_box {
    max-width: 30%;
    position: relative;
    padding: 20px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
    .bg_animation {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: -1;
      height: 80%;
      width: 80%;
      position: absolute;
      border-radius: 50%;
      background: radial-gradient(
        circle,
        rgba(255, 0, 0, 0.5),
        rgba(0, 255, 0, 0.5),
        rgba(0, 0, 255, 0.5)
      );
      animation: bgAnimation 10s infinite ease-in-out;
    }
    @keyframes bgAnimation {
      0% {
        top: 0px;
        left: 0px;
      }
      25% {
        top: 0px;
        left: calc(100% - 80%);
      }
      50% {
        top: calc(100% - 80%);
        left: calc(100% - 80%);
      }
      75% {
        top: calc(100% - 80%);
        left: 0px;
      }
      100% {
        top: 0px;
        left: 0px;
      }
    }
  }
}
.zitat_box {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-inline: 10%;
  padding-block: 20px;
  margin-block: 50px;
  border: 1px solid lightpink;
}

.title {
  position: absolute;
  top: 10px;
  left: 10px;
}
.header_box {
  display: flex;
  align-items: center;
  min-width: 100%;
  gap: 5%;
  margin-block: 50px;
  span {
    background-color: lightpink;
    min-height: 2px;
    min-width: 50%;
  }
  a {
    margin-left: 8.5%;
  }
}
.skills_img_box {
  display: flex;
  gap: 20px;
  img {
    max-width: 10%;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid lightpink;
  }
}
.info_box {
  display: flex;
  flex-direction: column;
  button {
    margin-block: 5%;
    margin-left: auto;
  }
}
.slide-left {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.slide-left.active {
  opacity: 1;
  transform: translateX(0);
}

.slide-left:not(.active) {
  transform: translateX(-100%);
}
.slide-right {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.slide-right.active {
  opacity: 1;
  transform: translateX(0);
}

.slide-right:not(.active) {
  transform: translateX(100%);
}
